<appshell-product-view-screen
    [pageTitle]="'Product Details'"
    [breadcrumbLinks]="breadcrumbLinks"
    [actionButtonText]="actionButtonText"
    (actionButtonClicked)="actionButtonFn()"
    [product]="product"
></appshell-product-view-screen>