@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: 'AppShellTextFont';
    src: local('Roboto'), local('Roboto Regular');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AppShellTextFont';
    src: local('Roboto'), local('Roboto Italic');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AppShellTextFont';
    src: local('Roboto'), local('Roboto Medium');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AppShellTextFont';
    src: local('Roboto'), local('Roboto Medium Italic');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'AppShellTextFont';
    src: local('Roboto'), local('Roboto Bold');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AppShellTextFont';
    src: local('Roboto'), local('Roboto Bold Italic');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AppShellHeadingFont';
    src: local('Roboto'), local('Roboto Regular');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AppShellHeadingFont';
    src: local('Roboto'), local('Roboto Italic');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AppShellHeadingFont';
    src: local('Roboto'), local('Roboto Medium');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AppShellHeadingFont';
    src: local('Roboto'), local('Roboto Medium Italic');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'AppShellHeadingFont';
    src: local('Roboto'), local('Roboto Bold');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AppShellHeadingFont';
    src: local('Roboto'), local('Roboto Bold Italic');
    font-weight: bold;
    font-style: italic;
}
