<appshell-notifications-screen
    [pageTitle]="'Notifications'"
    [breadcrumbLinks]="breadcrumbLinks"
    [notifications]="notifications"
    (readNotification)="markAsRead($event)"
    (readAllNotifications)="markAllAsRead()"
/>