<appshell-platform-layout
  [headerVariant]="headerVariant"
  [applicationSymbol]="applicationSymbol"
  [applicationLogo]="applicationLogo"
  [applicationName]="applicationName"
  [applicationNameLink]="applicationNameLink"
  [appShellHelpLink]="appShellHelpLink"
  [appShellNotificationsLink]="appShellNotificationsLink"
  [appShellNotificationsCount]="appShellNotificationsCount"
  [headerLinks]="headerLinks"
  [headerProjectPicker]="headerProjectPicker"
  [headerSecondaryPicker]="headerSecondaryPicker"
  [sidenavSections]="sidenavSections"
  [sidenavLinks]="sidenavLinks"
  [loggedUser]="loggedUser"
  [isPlatformPickerOpened]="false"
  (userLoggedIn)="login()"
  (userLoggedOut)="logout()"
  (userProjectPick)="projectPickerChanged($event)"
  (userSecondaryPick)="secondaryPickerChanged($event)">
  <div id="extra-icons-ctn" ngProjectAs="extra-icons-header">
    <button class="extra-icon-btn" (click)="extraHeaderIconClick('1')"><appshell-icon [icon]="'counter_1'"></appshell-icon></button>
    <button class="extra-icon-btn" (click)="extraHeaderIconClick('2')"><appshell-icon [icon]="'counter_2'"></appshell-icon></button>
  </div>
</appshell-platform-layout>
